@import 'footer';
@import 'show-name';
@import 'balloons';
@import 'header';
@import 'rules';

body {
    font-family: 'Lobster', cursive;
    margin: 5%;
}

main{
margin:17%;
}

.seccion-a {
    text-align: center;

    input {
        border: solid 3px #358E9D;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .btn {
        color: #fafafa;
        background: #358E9D;
        margin: 1%;
    }

    .list {
        border: solid 3px #358E9D;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}


.but{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-right : 10%;
    
    #play{
        color: #fafafa;
        background: #358E9D;
        border: solid 3px #358E9D;
    }
   
    .reset{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}