@import 'footer';
@import 'show-name';
body {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin: 2%;
}

.seccion-a {
    text-align: center;
    border: solid 3px #358E9D;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    span {
        font-size: 25px;
        margin-bottom: 1%;
    }
    input {
        border: solid 3px #358E9D;
        font-size: 20px;
        margin-bottom: 1%;
    }
    .btn {
        font-family: Arial;
        font-family: 'Lobster', cursive;
        font-size: 20px;
        color: #fafafa;
        background: #358E9D;
        margin-bottom: 1%;
    }
    .list {
        width: 50%;
        border: solid 3px #358E9D;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 1%;
    }
}